@import url(normalize.css);

@font-face {
    font-family: 'Pina Colada';
    src: url(fonts/Pina\ Colada\ Creation.ttf);
}

body{
    height: 100vh;
    background: url(images/firstpage.jpg);
    background-size: cover;
    font-family: Pina Colada;
}

.title{
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    margin: 0;
    font-size: calc(3rem + 1vw);
}

/*Form box*/
.newgame-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    padding: 1.5rem;
    background-color: white;
    border: 0.15rem solid black;
    border-radius: 0.8rem;
    box-shadow: 7px 8px 8px rgb(175, 172, 172);
    letter-spacing: .08em;
    font-size: calc(0.4rem + 1vw);
}

/* Select number of players screen */
.initialScreen{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.initialScreen p{
    margin:0;
    font-weight: 800;
}

.initialButtons{
    display: flex;
    gap: 3rem;
}


/*Enter player names screen*/
.formContainer, #player2Human, #player2Computer{
    display: none; /*start display none and will be updated on JS*/
}

.form-container {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    justify-content: center;
}

.form-container input{
    border: 0.1rem solid black;
    background: #88888850;
    border-radius: 0.3rem;
    width: 95%;
    margin-bottom: 1rem;
}

.form-container p{
    justify-self: center;
}

#player2Computer p{
    margin: 0;
}

#player2Computer p:first-child{
    margin-bottom: 0.5rem;
}

#player2Human input{
    margin-top: 0.5rem;
}

.playerName{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-container button{
    width: calc(3rem + 1vw);
    padding-left: 0.5rem;
}

/* Game */
.gameContainer{
    display: none; /*start display none and will be updated on JS*/
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.game{
    background-color: rgba(0, 0, 0, 0.445);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 0.1rem;
    width: calc(12rem + 10vw);
    height: calc(12rem + 10vw);
}

.cell{
    background-color: rgba(255, 255, 255, 0.637);
    font-size: calc(3rem + 1vw);
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonContainer{
    display: flex;
    justify-content: space-around;
    width: calc(17rem + 1vw);
    margin-top: 1rem;
    font-size: calc(0.5rem + 1vw);
}

button{
    padding: 0.6rem;
    padding-bottom: 0.2rem;
    display: flex;
    border-radius: 0.5rem;
    justify-content: center;
}

.displayResult{
    display: none; /*start display none and will be updated on JS*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: calc(3rem + 1vw);
    letter-spacing: .1em;
    text-shadow: black 1px 0 15px;
    color: white;
}

.newgameButtonContainer{
    grid-column: 1 / 4;
    justify-self: end;
}